<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/pc.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>
    <title>Babbage</title>
</head>
<div>
  
</div>

<body>
    <h1>Charles Babbage</h1>
    <p>Charles Babbage ( Teignmouth, Devonshire, Gran Bretaña, 26 de diciembre de 1791 - Londres, 18 de octubre de 1871) fue un matemático y científico de la computación británico. Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias.</p>
    <img src="/img/CharlesBabbage.jpg" alt="Charles Babbage">
    <h2>Motor diferencial, analítico</h2>
    <p>La idea de calcular mecánicamente las tablas matemáticas llegó a Babbage por primera vez en 1812 o 1813. Más tarde, hizo una pequeña calculadora que podía realizar ciertos cálculos matemáticos a ocho decimales. Luego, en 1823, obtuvo el apoyo del gobierno para el diseño de una máquina proyectada, el motor de diferencia , con una capacidad de 20 decimales. Su construcción requirió el desarrollo de técnicas de ingeniería mecánica , a las que Babbage se dedicó necesariamente. A mediados de la década de 1830, Babbage desarrolló planes para la Motor analítico, el precursor de la computadora digital moderna. En ese dispositivo, imaginó la capacidad de realizar cualquier operación aritmética sobre la base de las instrucciones de las tarjetas perforadas, una unidad de memoria en la que almacenar números, el control secuencial y la mayoría de los otros elementos básicos de la computadora actual.</p>
    
</body>
</html>