<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/pc.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>
    <title>Hamilton</title>
</head>
<div>
  <a href="/home.html">Volver</a>  
</div>

<body>
    <h1>Hamilton</h1>
    <h3>Programando para la NASA</h3>
<p>Con 27 años y unos 4 de experiencia con código, Hamilton era considerada aún una programadora junior. Como tal, le asignaron la parte del código que pensaban menos importante, la que se usaría solo en caso de tener que abortar una misión. Hamilton apodó al programa “olvídalo”. Sin embargo, después de que una misión (no tripulada) se tuviera que abortar, el conocimiento de Hamilton pasó a ser mucho más relevante de la noche a la mañana.</p>
    <img src="/img/hamilton.jpg" alt="">
    <h2>Margaret Hamilton, la programadora que nos llevó a la luna</h2>

    <p>En una época en la que ni existía el concepto de conciliación familiar, Hamilton, que trabajaba muchas noches y fines de semana, se llevaba a su hija Lauren al laboratorio. Mientras ella trabajaba en la cápsula de simulación su hija jugaba a ser astronauta. En una ocasión su hija empezó a darle a varias teclas y de repente la simulación se colgó. Había seleccionado un programa que solo se debía de usar antes del despegue cuando ya estaban “de camino” a la luna. Hamilton avisó sobre este error e intentó corregir el software para que no puediera pasarle a los astronautas, pero la NASA no lo vio necesario. Los astronautas nunca se equivocan. ¿Adivinais qué pasó en la siguiente misión? Sí, los astronautas seleccionaron el programa que no debían. La NASA le dio la razón a Hamilton y ella pudo corregir “el bug Lauren”.</p>
    
</body>
</html>