<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/pc.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>


<title>Héroes de la programación</title>
</head>

<body>
    <h1>HÉROES</h1>
    <p>¿Sabías de los héroes de programación? </p>
   
    <nav>
        <ul>
            <li><a href="../views/babbage.html"> Babbage</a></li>
            <li><a href="lovelace.html"> Lovelace</a></li>
            <li><a href="benners-lee.html"> Benners</a></li>
            <li><a href="clarke.html"> Clarke</a></li>
            <li><a href="turing.html"> Turing</a></li>
            <li><a href="hopper.html"> Hopper</a></li>
            <li><a href="hamilton.html"> Hamilton</a></li>

        </ul>
    </nav>
    <section>
        <img src="/img/—Pngtree—cartoon purple ui office computer_4978561.png" alt="">
    </section>

</body>

</html>