<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/pc.jpg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>
    <link rel="style.css" href="/css/style.css">
    <title>Lovelace</title>
</head>
<div>
   <a href="/home.html">Volver</a> 
</div>

<body>
    <h1>Lovelace</h1>
    <p>Augusta Ada King, condesa de Lovelace (Londres, 10 de diciembre de 1815 - íd., 27 de noviembre de 1852) estuvo registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica.</p>
   <img src="/img/lovelace.jpg" alt="">
   <h3>Desafió los mandatos de la era victoriana</h3> 
   <p>Lovelace no era una mujer habitual. Su mayor desafío era querer trascender las "limitaciones mentales" que la época imponía para el género. Durante un tiempo tomó clases con el matemático Augustus de Morgan. Lovelace progresó mucho en sus clase y comenzó hacer preguntas que iban más allá de lo que se trataban las lecciones.</p>
    <pMorgan repudiaba esta actitud de la joven por considerar que no eran propias de una mujer. Le inquietaba que Lovelace pensara "como un hombre". Se quejó de esto ante su madre, Lady Byron, que, al igual que Ada, era dueña de un gran intelecto. Como era de esperar, no le prestó atención a la preocupación de Morgan y siguió alentando a su hija para que continuara sus estudios.></p>
</body>
</html>